body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
}
#u12135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:1100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u12136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1720px;
  height:1100px;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u12137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:61px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12139 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:140px;
  width:1392px;
  height:61px;
}
#u12140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:999px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12141 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:201px;
  width:1392px;
  height:999px;
}
#u12142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u12143 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:158px;
  width:183px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u12144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u12145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:586px;
}
#u12145 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:211px;
  width:1163px;
  height:586px;
}
#u12146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:285px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12147 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12147_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12147_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  overflow:hidden;
}
#u12148_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12148_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12150 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:100px;
  width:151px;
  height:153px;
  overflow:hidden;
  visibility:hidden;
}
#u12150_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:153px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12151_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12151.mouseOver {
}
#u12152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12153_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12153.mouseOver {
}
#u12154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12155_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12155.mouseOver {
}
#u12156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12157 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12157_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12157.mouseOver {
}
#u12157_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12157.selected {
}
#u12158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12159 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:186px;
  height:526px;
  overflow:hidden;
}
#u12159_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:526px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12159_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12160_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12160_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12162 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:100px;
  width:159px;
  height:235px;
  overflow:hidden;
  visibility:hidden;
}
#u12162_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:235px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12162_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12163_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12163.mouseOver {
}
#u12164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12165_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12165.mouseOver {
}
#u12166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12167_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12167.mouseOver {
}
#u12168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12169_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12169.mouseOver {
}
#u12170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12171_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12171.mouseOver {
}
#u12172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12173 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12173_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12173.mouseOver {
}
#u12173_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12173.selected {
}
#u12174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12175 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12175_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12175_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12176_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12176_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12178 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12178_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12178_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12179_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12179.mouseOver {
}
#u12180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12181_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12181.mouseOver {
}
#u12182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12183_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12183.mouseOver {
}
#u12184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12185_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12185.mouseOver {
}
#u12186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12187 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12187_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12187.mouseOver {
}
#u12187_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12187.selected {
}
#u12188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12189 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12189_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12189_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12190_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12190_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12192 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12192_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12192_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12193_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12193.mouseOver {
}
#u12194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12195_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12195.mouseOver {
}
#u12196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12197_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12197.mouseOver {
}
#u12198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12199 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12199_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12199.mouseOver {
}
#u12199_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12199.selected {
}
#u12200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12201 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12201_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12201_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12202_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12202_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12204 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12204_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12204_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12205_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12205.mouseOver {
}
#u12206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12207_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12207.mouseOver {
}
#u12208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12209_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12209.mouseOver {
}
#u12210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12211_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12211.mouseOver {
}
#u12212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12213 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12213_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12213.mouseOver {
}
#u12213_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12213.selected {
}
#u12214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12215 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12215_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12216_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12216_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12218 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12218_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12218_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12219_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12219.mouseOver {
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12221_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12221.mouseOver {
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12223_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12223.mouseOver {
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12225_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12225.mouseOver {
}
#u12225_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12225.selected {
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:28px;
  width:166px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:34px;
  width:216px;
  height:32px;
}
#u12229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12229_input:disabled {
  color:grayText;
}
