body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:100px;
}
#u12465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:1100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u12466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1720px;
  height:1100px;
  color:rgba(51, 51, 51, 0.509803921568627);
}
#u12467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:542px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:61px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12469 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:140px;
  width:1392px;
  height:61px;
}
#u12470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1392px;
  height:999px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12471 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:201px;
  width:1392px;
  height:999px;
}
#u12472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:492px;
  width:1388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u12473 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:158px;
  width:165px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#14181C;
}
#u12474 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u12475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:586px;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:211px;
  width:1163px;
  height:586px;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:285px;
  width:1159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12477 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12477_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12477_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  overflow:hidden;
}
#u12478_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12478_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12480 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:100px;
  width:151px;
  height:153px;
  overflow:hidden;
  visibility:hidden;
}
#u12480_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:153px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12480_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12481_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12481.mouseOver {
}
#u12482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12483_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12483.mouseOver {
}
#u12484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12485_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12485.mouseOver {
}
#u12486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12487 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12487_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12487.mouseOver {
}
#u12487_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12487.selected {
}
#u12488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12489 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:0px;
  width:186px;
  height:526px;
  overflow:hidden;
}
#u12489_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:526px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12489_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12490_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12490_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12492 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:100px;
  width:159px;
  height:235px;
  overflow:hidden;
  visibility:hidden;
}
#u12492_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:235px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12492_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12493_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12493.mouseOver {
}
#u12494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12495_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12495.mouseOver {
}
#u12496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12497_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12497.mouseOver {
}
#u12498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12499_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12499.mouseOver {
}
#u12500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12501_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12501.mouseOver {
}
#u12502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12503 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12503_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12503.mouseOver {
}
#u12503_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12503.selected {
}
#u12504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12505 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12505_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12505_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12506_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12506_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12508 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12508_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12508_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12509 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12509_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12509.mouseOver {
}
#u12510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12511_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12511.mouseOver {
}
#u12512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12513_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12513.mouseOver {
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12515_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12515.mouseOver {
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12517_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12517.mouseOver {
}
#u12517_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12517.selected {
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:845px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12519_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12519_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12520_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12520_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12522_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12522_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12523_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12523.mouseOver {
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12525_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12525.mouseOver {
}
#u12526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12527_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12527.mouseOver {
}
#u12528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12529 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12529_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12529.mouseOver {
}
#u12529_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12529.selected {
}
#u12530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12531 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12531_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12531_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12532_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12532_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12534 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12534_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12534_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12535_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12535.mouseOver {
}
#u12536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12537_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12537.mouseOver {
}
#u12538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12539_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12539.mouseOver {
}
#u12540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12541_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12541.mouseOver {
}
#u12542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12543 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12543_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12543.mouseOver {
}
#u12543_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12543.selected {
}
#u12544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12545 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:0px;
  width:186px;
  height:509px;
  overflow:hidden;
}
#u12545_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:509px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12545_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  overflow:hidden;
}
#u12546_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:507px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12546_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:283px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12548 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:100px;
  width:151px;
  height:188px;
  overflow:hidden;
  visibility:hidden;
}
#u12548_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12548_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12549_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12549.mouseOver {
}
#u12550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12551_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12551.mouseOver {
}
#u12552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(53, 57, 65, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:151px;
  height:47px;
  font-size:14px;
  color:#FFFFFF;
}
#u12553_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:47px;
  background:inherit;
  background-color:rgba(4, 182, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u12553.mouseOver {
}
#u12554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:147px;
  word-wrap:break-word;
}
#u12555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(23, 28, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12555 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:0px;
  width:138px;
  height:100px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12555_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12555.mouseOver {
}
#u12555_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:100px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12555.selected {
}
#u12556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:134px;
  word-wrap:break-word;
}
#u12557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u12557 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:28px;
  width:166px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u12558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u12559 {
  border-width:0px;
  position:absolute;
  left:1461px;
  top:34px;
  width:216px;
  height:32px;
}
#u12559_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12559_input:disabled {
  color:grayText;
}
